.wrapper {
  .logoCol {
    background-color: #fefefe;

    & > .ant-col {
      height: 100%;
    }

    .logo {
      height: 100px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('http://www.fjkljd.com/images/logo.png');
    }

    .name {
      font-size: 27px;
      letter-spacing: 6px;
      font-weight: bold;
    }

    .phone {
      line-height: 36px;

      .phoneNumber {
        color: red;
        font-weight: bold;
        font-style: italic;
        font-size: 20px;
      }
    }
  }

  .menu {
    padding: 10px;
    max-width: 1000px;
    margin: auto;
    height: 58px;

    .menuItem {
      line-height: 36px;
      text-align: center;
      border: 1px solid #eee;
      background-color: #1890ff;
      transform: rotate3d(15, -30, 9, -17deg);

      a {
        color: #fff;
      }
    }
  }
}
